{% extends 'base.html' %}

{% block head %}
<title>Campus Insider | About us</title>
{% endblock head %}

{% block main %}
<main class="about">
  <section class="about__hero">
    <h1 class="about__hero-tagline">
      Your independent source of campus events, news, people, hangouts.
    </h1>
  </section>

  <section class="about__staff">
    <h2>STAFF</h2>
    <article>
      <h3>John Smith</h3>
    </article>
  </section>

  <section class="sponsors">
    <h2>SPONSORS</h2>
  </section>
</main>
{% endblock main %}
