{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
<script src="{% static "js/home.min.js" %}" defer></script>
<title>Campus Insider | Your independent source of campus news, events, people......</title>
{% endblock head %}

{% block main %}
<main>

  <section class="featured_people">

    <div class="featured_people__header">
      <h2 class="featured_people__header__title">PEOPLE</h2>
      <p class="featured_people__header__more"><a href="{% url "people:profile_list" %}">SEE MORE</a></p>
    </div>

    {% if featured_profiles %}
      <div class="featured_people__container">
        {% for featured in featured_profiles %}

          <article>
            <a href="{{ featured.profile.get_absolute_url }}">
              <img src="{{ featured.profile.avatar.url }}" alt="{{ featured.profile.name }}">
            </a>
            <p>
              <a href="{{ featured.profile.get_absolute_url }}">
                {{ featured.profile.name | truncatechars:14}}
              </a>
            </p>
          </article>

        {% endfor %}
      </div>
    {% else %}
      <p>No people have been featured yet.</p>
    {% endif %}

  </section>

  <section class="featured_articles">
    <header class="featured_articles__header">
      <h2 class="featured_articles__header__title">ARTICLES</h2>
      <p class="featured_articles__header__more">SEE MORE</p>
    </header>
    <div class="featured_articles__container">
    {% for article in featured_articles %}
      <article class="article">
        <header class="article__header">
          <img src="{{ article.thumb_nail.url }}" alt="{{ article.title }}" class="article__header__thumbnail">
          <h3 class="article__header__title">
            <a href="">{{ article.title }}</a>
          </h3>
        </header>

        <footer class="article__footer">
          <a href="{{ article.author.profile.get_absolute_url }}">
            <img src="{{ article.author.profile.avatar.url }}" alt="{{ article.author.profile.name }}" class="article__footer__author">
          </a>

          <p class="article__footer__name">
            <a href="{{ article.author.profile.get_absolute_url }}">By {{ article.author.profile.name }} - </a>
          </p>

          <p class="article__footer__date">
            <time datetime="{{ article.published_at }}">{{ article.published_at | naturaltime }}</time>
          </p>
        </footer>

      </article>
    {% empty %}
    {% endfor %}
    </div>
  </section>

  <section class="featured_events">
    <header class="featured_events__header">
      <h2 class="featured_events__header__title">EVENTS</h2>
      <p class="featured_events__header__more">SEE MORE</p>
    </header>
  </section>

  <section class="featured_hangouts">
    <header class="featured_hangouts__header">
      <h2 class="featured_hangouts__header__title">HANGOUTS</h2>
      <p class="featured_hangouts__header__more">SEE MORE</p>
    </header>
  </section>

  <section class="featured_in_cinema">
    <header class="featured_in_cinema__header">
      <h2 class="featured_in_cinema__header__title">IN CINEMA</h2>
      <p class="featured_in_cinema__header__more">SEE MORE</p>
    </header>
  </section>

</main>
{% endblock main %}
