{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
<script src="{% static "js/home.min.js" %}" defer></script>
<title>Campus Insider | Your independent source of campus news, events, people......</title>
{% endblock head %}

{% block main %}
<main>

  <section class="featured-profiles">
    <header class="featured-profiles__header">
      <h2 class="featured-profiles__header__title">Featured Profiles</h2>
    </header>
    <div class="featured-profiles__container">
      {% for featured_profile in featured_profiles %}
        <article class="profile">
          <a href="{{ featured_profile.profile.get_absolute_url }}">
            <img class="profile__avatar" src="{{ featured_profile.profile.avatar.url }}" alt="{{ featured_profile.profile.name }}">
          </a>
          <a href="{{ featured_profile.profile.get_absolute_url }}">
            <p class="profile__name">{{ featured_profile.profile.name }}</p>
          </a>
        </article>
      {% endfor %}
    </div>
  </section>

</main>
{% endblock main %}
