*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select,
button,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  min-height: 100vh;
}
