@use "./mixins";

:root {
  // font family
  --ff-mono: monospace;
  --ff-serif: "Merriweather", serif;
  --ff-sans: "Poppins", Helvetica, Arial, sans-serif;

  // line height
  --lh-no: 1.6;
  --lh-lg: 1.8;

  // z-index
  --zl: 0;
  --zm: 100;
  --zh: 999;

  // font size
  font-size: 62.5%;
  --fs-sm: 1.4rem;
  --fs-no: 1.6rem;
  --fs-md: 1.8rem;

  --fs-h1: 3rem;
  --fs-h2: 2.6rem;
  --fs-h3: 2.2rem;

  @include mixins.screen-md {
    --fs-no: 1.8rem;
    --fs-md: 2rem;
  }
}

body {
  line-height: var(--lh-no);
  font-size: var(--fs-no);
  font-family: var(--ff-sans);
}
