@use "../base/mixins";
@import "../components/article";

@mixin section-spacing {
  padding: 2.8rem var(--body-padding-lr);
}

@mixin section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin section-title {
  font-size: var(--fs-lg);
}

@mixin section-more {
  font-weight: 700;
  font-size: var(--fs-sm);
  color: var(--brand-red);
}

@mixin hide-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */

  &::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }
}

@mixin scroll-horizontally {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.featured_people {
  @include section-spacing();
}

.featured_people__header {
  @include section-header();

  &__title {
    @include section-title();
  }

  &__more {
    @include section-more();
  }
}

.featured_people__container {
  padding: 1.6rem 0;
  display: flex;
  gap: 1.2rem;
  border-top: 1px solid var(--gray-300);
  border-bottom: 1px solid var(--gray-300);
  background-color: var(--bg-secondary);
  @include scroll-horizontally();
  @include hide-scrollbar();

  article {
    scroll-snap-align: center;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      width: max-content;
      height: max-content;
      font-size: var(--fs-sm);
      font-weight: 700;
      color: var(--color-secondary);

      img {
        padding: 0.2rem;
        border: 2px solid currentColor;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        background-size: contain;
      }
    }
  }
}

.featured_articles {
  @include section-spacing();
  width: 100vw;
}

.featured_articles__header {
  @include section-header();

  &__title {
    @include section-title();
  }

  &__more {
    @include section-more();
  }
}

.featured_articles__container {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;

  @include mixins.screen-md {
    flex-direction: row;
  }
}

// EVENTS

.featured_events {
  @include section-spacing();
}

.featured_events__header {
  @include section-header();

  &__title {
    @include section-title();
  }

  &__more {
    @include section-more();
  }
}

// HANGOUTS

.featured_hangouts {
  @include section-spacing();
}

.featured_hangouts__header {
  @include section-header();

  &__title {
    @include section-title();
  }

  &__more {
    @include section-more();
  }
}

// IN CINEMA

.featured_in_cinema {
  border-top: 4px solid var(--brand-yellow);
  color: var(--gray-100);
  background-color: var(--gray-900);
  @include section-spacing();
}

.featured_in_cinema__header {
  @include section-header();

  &__title {
    @include section-title();
  }

  &__more {
    @include section-more();
    color: var(--brand-yellow);
  }
}
