<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  {% block head %}{% endblock head %}
</head>
<body>
  {% block nav %}
  <header class="header">

    <div class="header__burger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <h1 class="header__logo">
      <a href="{% url "core:home" %}">Campus Insider</a>
    </h1>

    <nav class="header__nav">
      <ul>
        <li><a href="{% url "core:home" %}">Home</a></li>
        <li><a href="{% url "core:about" %}">About</a></li>
        <li><a href="{% url "people:profile_list" %}">People</a></li>
      </ul>
    </nav>

    <ul class="header__socials">
      <li>
        <a href="#">
          <i class="ri-twitter-fill ri-xl"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ri-instagram-fill ri-xl"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="ri-facebook-fill ri-xl"></i>
        </a>
      </li>
    </ul>

  </header>
  {% endblock nav %}
  {% block main %}{% endblock main %}
  {% block footer %}{% endblock footer %}
</body>
</html>
